pkgbase = linux-rpi5
	pkgdesc = Vendor kernel and modules for Raspberry Pi 5
	pkgver = 7.0.10
	pkgrel = 2
	url = https://www.raspberrypi.com/
	arch = aarch64
	license = GPL-2.0 WITH Linux-syscall-note
	makedepends = bc
	makedepends = git
	options = !debug
	options = !strip
	source = linux-rpi::git+https://github.com/raspberrypi/linux#commit=21b80c840d77a6ea78dd696f9a8a58bda1d4b368
	source = BCM4345C0.hcd::https://raw.githubusercontent.com/RPi-Distro/bluez-firmware/cdf61dc691a49ff01a124752bd04194907f0f9cd/debian/firmware/broadcom/BCM4345C0.hcd
	source = config.txt
	sha256sums = d02eec99115551cd76a1df5166d0631d74d1c03433f92ef43876949025478c41
	sha256sums = 51c45e77ddad91a19e96dc8fb75295b2087c279940df2634b23baf71b6dea42c
	sha256sums = 7672f8dcf1e326420f38a44a3116dd66b5e149d5124bc37e3a91db7cea7276f6

pkgname = linux-rpi5

pkgname = linux-rpi5-headers

pkgname = linux-firmware-rpi5
	depends = linux-firmware-broadcom
	replaces = firmware-raspberrypi
